#about {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 50px;
    

    & .title {
        
        text-align: start;
        position: relative;
        cursor:default;
        

        &::after {
            content: '';
            position: absolute;
            bottom: 50%;
            margin-left: 10px;
            background-color: var(--primary);
            max-width: 200px;
            width: 100%;
            height: 2px;
            padding: 0 10px;
        }
    }

    & .about-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 62em;
        width: 100%;
        margin: 0 auto;
        flex-wrap: nowrap;
        grid-gap: 64px;
        padding: 0 25px;
        
        @media screen and (max-width: 632px){
            padding: 0 25px;
            grid-template-columns: 1fr;
        }


      
        & .story-wrapper{
            max-width: 650px;
            width: 100%;
            & h1 {
                font-size: clamp(1.5rem, 8vw, 2.5rem);
                color: var(--primary);
            }
            & p {
                font-size: var(--fz-md);
                line-height: 1.5;
                opacity: 90%;
                font-weight: 500;
            }
            & .story-link {
                font-weight: 700;
                font-size: var(--fz-lg);
                text-decoration: none;
                display: flex;
                align-items: center;
                color: var(--primary);
                
            }
           
            & .tech-wrapper{
                display: grid;
                grid-template-columns: repeat(6, 40px);
                margin-top: 10px;
                list-style: none;
                padding: 0;
                grid-gap: 10px;
                place-items: center;
                
             

                & li {
                    position: relative;

                    .tooltip {
                        position: absolute;
                        background-color: var(--foreground);
                        color: var(--background);
                        padding: 3px 6px;
                        display: none;
                        font-weight: 500;
                        font-size: var(--fz-xxs);
                        border-radius: 3px;
                    }
                    &:hover > .tooltip {
                        display: block;
                    }
                }
               
              
                & .tech-image {
                    position: relative;
                    width: 100%;
                    max-width: 40px;
                    height: auto;
                    cursor: default;
                    filter: grayscale(100%);

                    &:hover{
                        transition: all 0.2s ease-in-out;
                        filter: grayscale(0);

                        
                    }
                    
                }

            }
        }

        & .me-wrapper{
            max-width: 300px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            margin: 0 auto;
            height: 300px;
           
            & .image-cover {
                position: absolute;
                max-width: 300px;
                width: 100%;
                height: 100%;
                opacity: 0.2;
                background-color: var(--primary);
                z-index: 3;
                transition: all 0.2s ease-in-out;
                inset: 0;
                &:hover {
                    opacity: 0;
                }
            }
            & img{
                width: 100%;
                max-width: 300px;
                margin: 0 auto;
                z-index: 2;
                object-fit: cover;
                
            }   

            &:hover::after{
                transform: translateX(40%);
                transform: translateY(8%);
        
            }

            &::after {
                content: '';
                max-width: 350px;
                width: 100%;
                height: 100%;
                position: absolute;
                border: 3px solid var(--primary);
                left: 20px;
                transform: translateY(5%);
                transition: all 0.3s ease;
                
            }
           
        }
    }
}