:root {
    --dark: #18181b;
    --light: #f5f5f5;
    --light2: #cbd5e1;
    --light3: #e4e4e7;
    --primary: #4f46e5;
    --primary-dark: #4942cf; 
    --secondary: #e2e8f0;
    --warning: #fbbf24;
    --danger: #f87171;
    --success: #34d399;
    --font-clr: #18181b;
    --primary-hover: #4037e6;
    --primary-disabled: #6660dd;
    --white: #fafafa;
    --foreground: var(--dark);
    --background: var(--light);

    --services-background: var(--white);
    --services-hover: rgba(255, 255, 255, 0.8);
    --sidebar-w: 280px;
    --sidebar-w2: 72px;

    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;

        
    @media screen and (max-width: 768px) {
        --fz-xxs: 8px;
        --fz-xs: 10px;
        --fz-sm: 12px;
        --fz-md: 14px;
        --fz-lg: 16px;
        --fz-xl: 18px;
        --fz-xxl: 20px;
    }
}


@media (prefers-color-scheme: dark){
    :root {
        --dark: #18181b;
        --dark2: #131313;
        --light: #f5f5f5;
        --light2: #cbd5e1;
        --light3: #e4e4e7;
        --primary: #4f46e5;
        --secondary: #e2e8f0;
        --warning: #fbbf24;
        --danger: #f87171;
        --success: #34d399;
        --font-clr: #e2e8f0;

        --foreground: var(--light);
        --background: var(--dark);

        --services-background: var(--dark2);
        --services-hover: rgba(0, 0, 0, 0.3);
    }
} 


.darkmode {
    --dark: #18181b;
    --dark2: #0f0f0f;
    --light: #f5f5f5;
    --light2: #cbd5e1;
    --light3: #e4e4e7;
    --primary: #4f46e5;
    --secondary: #e2e8f0;
    --warning: #fbbf24;
    --danger: #f87171;
    --success: #34d399;

    background: var(--dark);
    color: var(--light);


}

h1, h2, h3, h4, h5{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body,
html {
    position: relative;
    background: var(--background);
    color: var(--foreground);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    scroll-behavior: smooth;
    scroll-padding: 80px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background)

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.btn {
    display: grid;
    place-items: center;
    text-transform: uppercase;
    font-weight: 500;
    padding: 14px 24px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    max-width: 100%;

    height: auto;
    text-decoration: none;

    @media screen and (max-width: 768px) {
        padding: 8px 16px;
        font-size: 0.75rem;
    }

}

.btn-primary {
    background-color: var(--primary);
    color: var(--light);

    &:hover {
        background-color: var(--primary-hover);
    }

    &:disabled {
        background-color: var(--primary-disabled);
        opacity: 90%;
        cursor: not-allowed;
    }
}

.btn-secondary {
    border: var(--primary) solid 2px;
    color: var(--primary);

    &:hover {
        border: var(--primary-hover) solid 2px;
        background-color: var(--primary-hover);
        color: var(--light);
    }
}
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-hover)
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary)
  }

.app-main {
    position: relative;
    height: 100%;

    @import './home.scss';
    @import './navbar.scss';
    @import './hello.scss';
    @import './contact.scss';
    @import './menu.scss';
    @import './socials.scss';
    @import './projects.scss';
    @import './footer.scss';
    @import './about.scss';
    @import './story.scss';
    @import './services.scss';
    @import './socials2.scss';
    @import './toaster.scss';
}