footer {
    position: relative;
    text-align: center;
    width: 100%;
    color: var(--foreground);
    bottom: 0;
    overflow: hidden;

    & .footer-wrapper {
        width: 100%;
        max-width: 80em;
        text-align: center;
        margin: 0 auto;

        & p {
            font-size: var(--fz-md);
            font-weight: 600;
        }
    }
}