/** Layout **/
nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--nav-height);
    transition: all 0.3s ease-in-out; 
    z-index: 10;

    @media screen and (max-width: 768px) {
      height: var(--nav-height);
    }

    
    .logo-wrapper {
        display: flex;
        justify-content: space-between;
        transition: all 0.3s ease-in-out;
        align-items: baseline;
        width: 100%;
        
        img{
           height: 50px;
        }
        
        & .logo-title {
            
            text-decoration: none;
            font-size: 2rem;
            font-weight: 700;
            color: var(--foreground);

            .bull {
              color: var(--primary);
            }
        }
        @media screen and(max-width: 768px) {
          justify-content: center;
        }
    }
    
    &.nav-scrolled {
      /**background-color: rgba(0,0,0,0.92);
     backdrop-filter: saturate(180%) blur(20px);**/
     background-color: var(--background) 0.9;
     backdrop-filter: blur(10px);
      transition: all 0.3s ease-in-out; 
      -webkit-transition: all 0.3s ease-in-out;
      height: var(--nav-scrolled-height);
      
      &.hide-bg{
        background-color: transparent;
        backdrop-filter: none;
      }
      
      
    } 
    .nav-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 1;
        background-color: transparent;
        padding: 0 50px;
        @media screen and(max-width: 768px) {
          justify-content: center;
          padding: 0 15px;
        }
        .hamburger{
            position: absolute;
            right: 25px;
            z-index: 2;
            display: none;
            
            @media screen and (max-width: 768px) {
                display: block;
                right: 15px;
            }
            & .bar{
                display: block;
                width: 20px;
                height: 2px;
                background-color: var(--foreground);
                margin: 2px 0;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
            }
            &.active{
                  .bar:nth-child(1) {
                    transform: translateY(4px) rotate(45deg);
                  }
                  .bar:nth-child(2) {
                    opacity: 0;
                  }
                  .bar:nth-child(3) {
                    transform: translateY(-4px) rotate(-45deg);
                  }                
            }
        }
        & ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;

            &> * + * {
              margin-left: 1.5rem;
            }

            @media screen and (max-width: 768px){
              display: none;
            }
            & a {
                font-size: 1rem;
                text-decoration: none;
                text-transform: capitalize;
                color: var(--foreground);
                position: relative;
                
                &:hover::after {
                  width: 100%;
                  transition: all 0.2s ease-in;
                }

                &::after {
                  content: '';
                  height: 5px;
                  width: 0%;
                  background-color: var(--primary);
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  border-radius: 2px;
                  transform: translateY(100%);
                }

            }
        }
      

    }
}


/** design **/ 

.nav-wrapper {
    background-color: var(--light)
}