#projects {
    position: relative;
    width: 100%;
    display: block;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
   
   



    & h1 {
        text-align: center;
        font-size: clamp(1.5rem, 8vw, 2rem);
        color: var(--primary);
    }

}

.project-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
    max-width: 72em;
    margin: 34px auto;

    .project-image {
        max-width: 500px;
        width: 100%;
        height: auto;
        background-color: var(--services-background);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
    }


    .project-description {
        padding: 20px;

        p {
            color: var(--foreground);
            font-size: var(--fz-md);
            font-weight: 500;
        }

        .technologies-used {
            margin-top: 10px;
            padding: 0px;
            display: flex;
            
            & li {
                position: relative;
                list-style: none;

                & >* {
                    width: auto;
                    max-height: 25px;
                    height: 100%;
                    filter: grayscale(100%);
                    margin-right: 10px;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        filter: grayscale(0);
                    }
                }

                .tooltip {
                    position: absolute;
                    background-color: var(--foreground);
                    color: var(--background);
                    padding: 3px 6px;
                    display: none;
                    font-weight: 500;
                    font-size: var(--fz-xxs);
                    border-radius: 3px;
                    height: auto;
                }

                &:hover > .tooltip {
                    display: block;
                }
            }
            
    
        }

        .buttonGroup {
            display: flex;
            margin-top: 24px;
            justify-content: flex-end;
            width: 100%;
           
    
            & > * {
                display: flex;
                margin-right: 10px;
                font-weight: 600;
                color: var(--foreground);
                background-color: var(--services-background);
                font-size: var(--fz-sm);
                box-shadow: 1px 1px 1px rgba(105, 105, 105, 0.3);
    
                &:hover {
                    background-color: var(--primary);
                    color: var(--light);
                }
    
                &>*:nth-child(1) {
                    margin-right: 4px;
                    width: var(--fz-md);
                    height: auto;
                    
                }
            }
           
        }
    }
}

@media screen and (max-width: 768px) {
    .project-items {
        grid-template-columns: 1fr;
        background-color: var(--services-background);
    }
    .project-image {
        background-color: transparent;
        box-shadow: none !important;
    }
}


