.socials-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    @media screen and(max-width: 768px) {
        
    }
        
    .desktop-socials {
        width: 25px;
        height: 25px;
        text-decoration: none;
        color: var(--dark);

        &:hover {
            color: var(--primary);
        }
    }

    .mobile-socials {
        width: 25px;
        height: 25px;
        text-decoration: none;
        color: var(--primary);
        &:hover {
            color: var(--primary);
        }
    }

    
}