.socials-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    right: 25px;

    @media (max-width: 80em) {
        right: 15px;
    }
        
    .desktop-socials {
        width: 25px;
        height: 25px;
        text-decoration: none;
        color: var(--dark);

        &:hover {
            color: var(--primary);
        }
    }

    .mobile-socials {
        width: 25px;
        height: 25px;
        text-decoration: none;
        color: var(--primary);
        &:hover {
            color: var(--primary);
        }
    }

    
}